.project-container {
    background-color: #efebe9;
    box-shadow: 5px 5px #d7ccc8;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
}

.bullet-wrapper {
    flex: 1;
    left: 0;
}

.project-img-wrapper {
    right: 0;
    margin-right: 24px;
}

.tabguard-size {
    width: 200px;
    height: 250px;
}

.predictor-size {
    width: 450px;
    height: 200px;
}

.c4me-size {
    width: 450px;
    height: 200px;
}
