.header-bar {
    display: flex;
    padding: 0px 0px 0px 8px;
    margin-bottom: 50px;
}

.links {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 460px) {
    .links {
        position: relative;
    }
}

.img-underlay {
    background-color: #feefec;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 24px;
}

.img-underlay.hero {
    height: 300px;
}

.img-wrapper {
    right: 0;
    z-index: 1;
    max-width: 700px;
    max-height: 300px;
    display: flex;
    box-shadow: 0 1px 5px rgba(0,0,0,.05), 0 5px 30px rgba(0,0,0,.2);
    border-radius: 6px;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.05), 0 5px 30px rgba(0,0,0,.2);
    border-radius: 6px;
    padding: 24px;
    max-width: 100%;
    margin-bottom: 24px;
}

.about-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 50px;
    align-items: center;
    padding: 0px 50px;
}



.resume-container {
    position: relative;
}

.text-wrapper {
    left: 0;
    flex: 1;
    margin-right: 24px;
}

@media screen and (max-width: 1020px) {
    .text-wrapper {
        flex: 100%;
        position: relative;
        margin: 0px 0px 24px 0px;
        max-width: 100%;
        flex-direction: column;
    }
    .img-wrapper {
        flex: 100%;
        flex-direction: column;
    }
    .img-size{
        width: 100%;
    }
}

.icon-container {
    padding: 24px 128px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
