@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 24px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    margin-left: 3.6px;
    margin-right: 3.6px;
}

img {
    max-width: 100%;
    max-height: 500px;
    overflow: auto;
    border-radius: 6px;
}

/* span, h1{
    color: #3e2723;
} */

h4 {
    font-weight: 700;
    text-shadow: 0 1px 0 black;
}

button:focus{
    outline:0px;
}
