iframe.border {
    border-radius: 8px;
    overflow: hidden;
    min-width: 200px;
    min-height: 280px;
}

@media screen and (max-width: 450px) {
    iframe {
        max-width: 100%;
    }
}

.interests-container {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.interests-wrapper {
    background-color: #efebe9;
    box-shadow: 5px 5px #d7ccc8;
    border-radius: 8px;
    padding: 24px;
    margin-right: 24px;
    flex: 22%;
}

@media screen and (max-width: 1370px) {
    .interests-wrapper {
        flex: 45%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 785px) {
    .interests-wrapper {
        flex-direction: column;
        flex: 100%;
        margin-bottom: 24px;
        margin-right: 0px;
    }
}
