iframe.border {
    border-radius: 8px;
    overflow: hidden;
    min-width: 200px;
    min-height: 280px;
}

.interests-container {
    position: relative;
    display: flex;
    margin-bottom: 24px;

}

.interests-wrapper {
    background-color: #efebe9;
    box-shadow: 5px 5px #d7ccc8;
    border-radius: 8px;
    padding: 24px;
    margin-right: 24px;
    width: 25%;
}
